<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connection" connectionString="Data Source=WINDOWS-10\SQLEXPRESS;Initial Catalog=QuanLyNhaSach;Persist Security Info=True;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyNhaSach.Properties.Settings.QuanLyNhaSachConnectionString"
            connectionString="Data Source=21AK22-COM\SQLEXPRESS;Initial Catalog=QuanLyNhaSach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyNhaSach.Properties.Settings.QuanLyNhaSachConnectionString1"
            connectionString="Data Source=WINDOWS-10\SQLEXPRESS;Initial Catalog=QuanLyNhaSach;Persist Security Info=True;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>